<div class="buttons" *ngIf="filter">
  <span><label>Filter</label> <input type="text" [(ngModel)]="filter.name" (input)="nameChanged()"></span>
  <span class="fill"></span>
  <button [disabled]="!filter.unsavedChanges" title="Save filter" (click)="saveClicked()">s</button>
  <button title="Add group" (click)="addExpressionGroup()">+</button>
  <button title="Delete filter" (click)="deleteClicked()">x</button>
</div>
<div #expressionGroups class="expression-groups">
    <div class="expression-group" *ngFor="let grp of filter?.expressionGroups; let i = index">
      <expression-group
        [expressionGroup]="grp"
        (expressionGroupChange)="expressionGroupChanged($event)"
        [fields]="fields"
        [expressionTemplate]="expressionTemplate"
        (deleteClick)="deleteExpressionGroup(i)"
        (click)="expressionGroupClicked(i)"
        [class.active]="i == selectedIndex">
      </expression-group>
      <div class="or">
        <span class="or" *ngIf="i < filter?.expressionGroups.length-1">OR</span>
      </div>
    </div>
</div>