/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

app-root {
    display: flex;
    flex-grow: 1;
}

filter-list {
    width: 320px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 4px #888888;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

filter-list > div.filters {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
}

filter-list > div.filters > ul {
    padding-left: 0;
}

filter-list li {
    padding: 10px;
    list-style-type: none;
}

filter-list li:hover {
    background-color: lightblue;
}

filter-list li.active {
    background-color: lightblue;
}

filter {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

filter > div.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}

filter > div.expression-groups {
    
    flex-grow: 1;
    overflow-y: auto;
}

filter > div.expression-groups > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

expression-group {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 4px #888888;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

expression-group.active {
    background-color: lightblue;
}

expression-group > div.expressions {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

expression-group > div.expressions > div {
    display: flex;
}

expression-group > div.expressions > div > div {
    display: flex;
    align-items: center;
}

expression-group > div.buttons {
    display: flex;
    justify-content: top;
    align-self: flex-end
}

expression {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 4px #888888;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

expression.active {
    background-color: white;
}

expression > div.expression {
    flex-grow: 1;
}

.fill {
    flex-grow: 1;
}

.buttons {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 4px #888888;
}

button {
    width: 48px;
    height: 48px;
    margin: 5px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: bold;
}

.and, .or {
    font-weight: bold;
}

.heaven-0 { background: #00000A; }
.heaven-1 { background: linear-gradient(to bottom, #020214 85%,#191922 100%); }
.heaven-2 { background: linear-gradient(to bottom, #020214 60%,#20202D 100%); }
.heaven-3 { background: linear-gradient(to bottom, #020214 10%,#303054 100%); }
.heaven-4 { background: linear-gradient(to bottom, #20202D 0%,#505070 100%); }
.heaven-5 { background: linear-gradient(to bottom, #404050 0%,#7070AA 80%,#8C78AA 100%); }
.heaven-6 { background: linear-gradient(to bottom, #4A4A69 0%,#7878B4 50%,#C878A0 100%); }
.heaven-7 { background: linear-gradient(to bottom, #7878BE 0%,#8282BE 60%,#E6B4D2 100%); }
.heaven-8 { background: linear-gradient(to bottom, #82AADC 0%,#F0B4B4 100%); }
.heaven-9 { background: linear-gradient(to bottom, #96C8FA 1%,#AAE6FF 70%,#B4B4F0 100%); }
.heaven-10 { background: linear-gradient(to bottom, #B4E6FF 0%,#96DCFF 100%); }
.heaven-11 { background: linear-gradient(to bottom, #9BDCFF 0%,#64D2FA 100%); }
.heaven-12 { background: linear-gradient(to bottom, #96DCFF 0%,#37A0D2 100%); }
.heaven-13 { background: linear-gradient(to bottom, #5ABEE6 0%,#236EAA 100%); }
.heaven-14 { background: linear-gradient(to bottom, #2D91BE 0%,#1E508C 100%); }
.heaven-15 { background: linear-gradient(to bottom, #2473ab 0%,#1E508C 70%,#5A7882 100%); }
.heaven-16 { background: linear-gradient(to bottom, #1E508C 0%,#285A8C 50%,#A0AA6E 100%); }
.heaven-17 { background: linear-gradient(to bottom, #1E508C 0%,#738C7D 50%,#EBD25A 100%); }
.heaven-18 { background: linear-gradient(to bottom, #143C78 0%,#5A6E73 30%,#E1C85A 70%,#B4643C 100%); }
.heaven-19 { background: linear-gradient(to bottom, #143C50 0%,#505046 30%,#C8782D 60%,#BC460F 80%, #320F05 100%); }
.heaven-20 { background: linear-gradient(to bottom, #051928 0%,#051928 30%,#8C3C14 80%,#230F05 100%); }
.heaven-21 { background: linear-gradient(to bottom, #000A0F 30%,#5A230A 80%,#280A05 100%); }
.heaven-22 { background: linear-gradient(to bottom, #0A0500 50%,#4B1E05 100%); }
.heaven-23 { background: linear-gradient(to bottom, #00000A 80%,#140A00 100%); }
.heaven-24 { background: #00000A; }