/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

app-root {
    display: flex;
    flex-grow: 1;
}

filter-list {
    width: 320px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 4px #888888;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

filter-list > div.filters {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
}

filter-list > div.filters > ul {
    padding-left: 0;
}

filter-list li {
    padding: 10px;
    list-style-type: none;
}

filter-list li:hover {
    background-color: lightgray;
}

filter-list li.active {
    background-color: lightgray;
}

filter {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

filter > div.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}

filter > div.expression-groups {
    
    flex-grow: 1;
    overflow-y: auto;
}

filter > div.expression-groups > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

expression-group {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 4px #888888;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

expression-group.active {
    background-color: lightgray;
}

expression-group > div.expressions {
    padding: 10px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

expression-group > div.expressions > div {
    display: flex;
}

expression-group > div.expressions > div > div {
    display: flex;
    align-items: center;
}

expression-group > div.buttons {
    display: flex;
    justify-content: top;
    align-self: flex-end
}

expression {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 4px #888888;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

expression.active {
    background-color: white;
}

expression > div.expression {
    flex-grow: 1;
}

.fill {
    flex-grow: 1;
}

.buttons {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 4px #888888;
}

button {
    width: 48px;
    height: 48px;
    margin: 5px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: bold;
}

.and, .or {
    font-weight: bold;
}