<div class="expressions">
  <div class="expression" *ngFor="let exp of expressionGroup.expressions; let i = index">
    <expression
      [expression]="exp"
      (expressionChange)="expressionChanged($event)"
      [fields]="fields"
      [expressionTemplate]="expressionTemplate"
      (deleteClick)="deleteExpression(i)"
      (click)="expressionClicked(i)"
      [class.active]="i == selectedIndex">
    </expression>
    <div class="and">
      <span class="and" *ngIf="i < expressionGroup.expressions.length-1">AND</span>
    </div>
  </div>
</div>
<div class="buttons">
  <button (click)="addExpressionClicked()" title="Add expression">+</button>
  <button (click)="deleteClicked()" title="Delete group">x</button>
</div>

